.footer-custom {
    background: #070031 !important;
    color: white;
    padding-left: 8rem;
    padding-right: 8rem;
}

.footer-custom .text-body-secondary {
    color: white;
}

.footer-custom a {
    color: white;
    text-decoration: none;
}

.gmaps {
    max-width: 25px;
    max-height: 25px;
}

/* Add responsive padding adjustment */
@media (max-width: 768px) {
    .footer-custom {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
